*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
html,body{
    height: 100%;
    width: 100%;
}
body{
    align-items: center;
    justify-content: center;
    display: flex;
}
#rect{
    background-color: orange;
    position: absolute;
    left: 500px;
    top: 500px;
    height: 300px;
    width: 200px;
}